ion-tab-bar {
  --background: var(--dc-card);
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);
  border-top: 1px solid var(--dc-border);
  height: 58px;

  ion-tab-button {
    --color: var(--ion-color-medium);
    --color-selected: var(--ion-color-primary);
  }
}
