<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Items</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar
      placeholder="Search items..."
      [(ngModel)]="searchText"
      (ionInput)="onSearch($event)"
      debounce="200"
      animated>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="items-content">

  <ion-list class="item-list" lines="none">
    <div class="item-card" *ngFor="let item of filteredItems" (click)="openItem(item)">
      <div class="item-avatar" [style.background]="variantColor(item.variantName) + '18'">
        <ion-icon [name]="variantIcon(item.variantName)" [style.color]="variantColor(item.variantName)"></ion-icon>
      </div>
      <div class="item-body">
        <div class="item-name">{{ item.itemName }}</div>
        <div class="item-list-name">{{ item.listName }}</div>
        <div class="item-value" *ngIf="item.value1">{{ item.value1 }}</div>
      </div>
      <div class="item-badge" [style.background]="variantColor(item.variantName) + '18'" [style.color]="variantColor(item.variantName)">
        {{ item.variantName }}
      </div>
    </div>
  </ion-list>

  <div class="empty-state" *ngIf="filteredItems.length === 0">
    <ion-icon name="search-outline"></ion-icon>
    <p>No items found</p>
  </div>

  <!-- FAB -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="openCreate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
