<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Activity Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="activity-content">
  <div class="timeline">
    <div class="tl-item" *ngFor="let a of activities; let last = last">
      <div class="tl-left">
        <div class="tl-dot" [style.background]="activityColor(a.activityName)">
          <ion-icon [name]="activityIcon(a.activityName)"></ion-icon>
        </div>
        <div class="tl-line" *ngIf="!last"></div>
      </div>
      <div class="tl-body">
        <div class="tl-header">
          <span class="tl-name">{{ a.activityName }}</span>
          <span class="tl-duration" [style.background]="activityColor(a.activityName) + '18'" [style.color]="activityColor(a.activityName)">
            {{ formatDuration(a.durationMinutes || 0) }}
          </span>
        </div>
        <p class="tl-notes">{{ a.notes }}</p>
        <div class="tl-meta">
          <ion-icon name="calendar-outline"></ion-icon>
          <span>{{ a.date }}</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
